<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test  name="AnyDo">
  <parameter name="browser" value="firefox"></parameter>
    <classes>
      <class name="com.anydo.testCases.TC_CreateTask_001"/>
      <class name="com.anydo.testCases.TC_CreateTaskwithNoteReminder_002"/>
      <class name="com.anydo.testCases.TC_AnyDo_003"/>
      <class name="com.anydo.testCases.TC_AnyDo_004"/>
      <class name="com.anydo.testCases.TC_AnyDo_005"/>
      <class name="com.anydo.testCases.TC_AnyDo_006"/>
      <class name="com.anydo.testCases.TC_AnyDo_007"/>
      <class name="com.anydo.testCases.TC_AnyDo_008"/>
      <class name="com.anydo.testCases.TC_AnyDO_009"/>
      <class name="com.anydo.testCases.TC_AnyDo_010"/>
      <!-- class name="com.anydo.testCases.TC_CreateTaskwithNoteReminder_002>"/>-->
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
